#animating {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
}

/* Standard syntax */
@keyframes mymove {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.controllers-window{
    position: fixed;
    height: 100%;
    width: 250px;
    top:0;
    right: 0;
}

.animation-name{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.state-controller{
    vertical-align: top;
}

.seek-bar{
    margin: 0 10px 0 10px;
}

.controll-window{
    margin-bottom: 20px;
}